$blue: #001A3F;
$yellow: #FFCC00;
$headerHeight: 60pt;

@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i');

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	min-height: 100%;
	background-color: #eee;
	font-size: 14px;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
}

a {
	color: inherit !important;
	text-decoration: inherit !important;
}

#container {
  position: relative;
  background-color: #444;

  max-width: 800px;
  min-height: 100%;

  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  
  transition: max-width 1s linear;
}


/* HEADER
**********************************************************/

header {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;

	width: 100%;
	height: $headerHeight;

	text-transform: uppercase;
	background-color: white;

	a {
		display: block;
		transition: all 0.2s linear;
	}

	a:hover {
		font-weight: 400;
		transform: scale(1.1);
	}

	h1 {
		position: relative;

		margin-right: $headerHeight/2;

		width: 120pt;
		height: 100%;
		
		box-sizing: border-box;
		color: rgba(white, 0);

		background-color: $blue;
		background-size: auto $headerHeight - 15pt;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url('../img/logo_short.svg');

	}
	
	h1:after {
		position: absolute;
		content: '';
		
		top: 0;
		left: 100%;
		height: 0;
		width: 0;

		border-right: $headerHeight/2 transparent solid;
		border-bottom: $headerHeight $blue solid;
	}

	menu {
		display: flex;
		flex-grow: 1;
		flex-wrap: nowrap;
		flex-direction: row;
		align-items: center;

		margin-left: -10pt;

		color: $blue;
		font-size: 1em;

		li {
			flex-grow: 1;

			display: block;
			position: relative;

			text-align: center;

			a {	padding: 1em 2em;	}
		}

		li:after {
			content: '';
			position: absolute;

			left: 100%;
			top: 0;
			width: 40px;
			height: 100%;

			transform: translateX(-50%);

			background-repeat: no-repeat;
			background-position: center;
			background-image: url(../img/separator.svg);
		}

		li:last-of-type:after {
			display: none;
		}
	}

	.contact {
		background-size: 30pt;
		background-repeat: no-repeat;
		background-position: center 5pt;
		background-image: url('../img/mail.svg');

		padding: 30pt 5pt 5pt 5pt;
		font-size: 0.8em;
		text-align: center;

	}

	.social {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;

		height: 100%;

		a {
			flex-grow: 1;
			width: 25pt;

			background-repeat: no-repeat;
			background-position: center;
		}

		a:hover {
			transform: scale(1.5);
		}

		.twitter { background-image: url(../img/twitter.svg); }
		.facebook {	background-image: url(../img/facebook.svg);	}
	}
}

header::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3px;
	background-color: $yellow;
}


/* MAIN
**********************************************************/

main {
	position: relative;
	
	min-height: 100%;
	box-sizing: border-box;
	
	background: $blue;
	background-position: center, center;
	background-size: 40%, cover;
	background-repeat: no-repeat;

	div.title {
		color: $yellow;
		font-size: 2.5em;
		margin: 0.5em 10pt;

		text-transform: uppercase;
	
		.about {
			display: inline-block;

			color: white;
			font-size: 0.4em;
			font-style: italic;

			line-height: 120%;
			text-transform: none;
		}
	}
}

/* FOOTER
**********************************************************/

footer {
	padding: 30pt;
	
	color: #fff;
	font-size: 0.8em;
	text-align: center;

	background-color: $blue;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../img/logo_long.svg);
}


/* COOKIES
**********************************************************/

#cookies {
  visibility: visible;
  position: fixed;
	opacity: 0.8;
	z-index: 10;

  left: 0;
  right: 0;
  bottom: 0;
  
  padding: 10pt 5pt;
  font-size: 1.1em;

  color: $yellow;
  text-align: center;
  background: $blue;
  
  transition: all 0.5s linear;
}

#cookies.hidden {
  visibility: hidden;
  opacity: 0;
}

#cookies button {
  margin-left: 10pt;
  padding: 3pt 10pt;

  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  color: $blue;

  border: none;
  border-radius: 3pt;

  background: $yellow;
}
