$blue: #001A3F;
$yellow: #FFCC00;
$headerHeight: 80pt;

ul#schedule {
	height: 50pt;

	border: solid rgba(white, 0.5);
	border-width: 1pt 0;

}

#schedule:before {
	content: 'AGENDA';
	background: rgba(white, 0.5);

	color: white;
	font-size: 1em;
	line-height: 50pt;


}