
/* SECTIONS
**********************************************************/

section {
  position: relative;
  
  text-align: center;
  font-weight: 300;
  font-size: 12pt;
  color: #003377;
  
  padding: 5px 10px 75px;
  
  background-image: linear-gradient(180deg, #fff, #eee);
}

section:last-of-type {
  padding-bottom: 50px;
}

section h2 {
  margin-top: 5pt;

  text-align: center;
  font-size: 1.5em;
  color: #037;
}

section h3 {
  margin-top: 0;

  text-align: center;
  font-size: 1.3em;
  color: #037;
}

section h3 small {
  display: block;

  font-weight: 400;
  font-size: 0.5em;
}

section img {
  margin: 10pt;
}

section button {
  display: inline-block;

  margin: 0;
  padding: 5pt 15pt;

  font-family: inherit;
  font-weight: 600;
  font-size: 1em;
  color: #fff;

  border-radius: 100pt;
  border: none;

  background: #003377;
}

section button.grey {
  font-size: 0.8em;

  background-color: #888;
}

/* STICKY SECTIONS *********/

section.sticky {
  margin-top: -50px;

  background: #eeeeee;
}
section.sticky::before {
  content: none;
}



/* BANNER SECTION
**********************************************************/

#banner {
  margin-top: 90px;
  padding-top: 50px;

  background: linear-gradient(
      rgba(255, 255, 255, 0.8), 
      rgba(255, 255, 255, 0.2)
    ), url(../img/banner.jpg) 50% 20% no-repeat;
  background-size: auto, cover;
}

#banner::before {
  top: -50px;
  height: 100px;

  background-size: 100% 100px;
  background-image: url('../img/arrow-first.svg');
}

#banner h3 span {
  padding: 0 5pt;

  background: #fc0;
}


/* TEXT SECTION
**********************************************************/

#text .container {
  padding-left: 15pt;
  padding-right: 15pt;

  text-align: left;
  color: #444;
}

#text .container h2 {
  margin: 30pt 0 5pt;
}

#text .container p {
  margin: 0 0 5pt 0;

  font-weight: 200;
  font-size: 11pt;
}

#text .container p.collapse {
  overflow: hidden;
  opacity: 0;

  max-height: 0;
  margin: 0;

  transition: opacity 0.5s linear;
}

#text .container p.collapse.off {
  opacity: 1;

  max-height: initial;
  margin: 0 0 5pt 0;
}

#text .container em {
  display: block;

  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1em;
  color: #003377;
}

#text .container small {
  display: block;
  text-align: right;
}

/* VERSION *****************/

#text .version button {
  margin: 0;

  font-size: 0.8em;
  color: #037;

  border: solid #037;
  background: #fff;
}

#text .version button.selected {
  color: #fff;
  
  background: #037;
}

#text .version button.short {
  border-width: 2px 0 2px 2px;
  border-radius: 100pt 0 0 100pt;
}

#text .version button.full {
  border-width: 2px 2px 2px 0;
  border-radius: 0 100pt 100pt 0;
}



/* SIGNERS SECTIONS - WRITERS / SPONSORS / PEOPLE
**********************************************************/

.signer {
  display: inline-block;
  text-align: center;
  margin: 5pt;
}

.signer .picture {
  overflow: hidden;
  margin: 5pt auto;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  transition: all 0.2s linear;
}

.signer:hover .picture {
  background-color: #fff;

  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  transform: scale(1.1);
}

.signer .name {
  white-space: nowrap;
  font-weight: 600;
}

.signer .role {
  overflow: hidden;

  height: 3em;
  
  font-size: 0.7em;
  font-style: italic;
}

/* WRITERS *****************/

#writers .signer {
  width: 150px;
  margin: 15pt 10pt;
}

#writers .signer .picture {
  width: 128px;
  height: 64px;
  border-radius: 5px;
}

/* SPONSORS ****************/

#sponsors .signer {
  width: 170px;
}

#sponsors .signer .picture {
  width: 64px;
  height: 64px;
  border-radius: 32px;
}

/* SIGNATURES **************/

#signatures .signer {
  width: 140px;
  margin: 5pt;
}

#signatures .signer .name {
  font-size: 0.8em;
  font-weight: 400;
}

#signatures .signer .picture {
  width: 128px;
  height: 80px;
}

#signatures .signer:hover .picture {
  border-radius: 5px;
}



/* TEXT LANGUAGES
**********************************************************/

#lang {
  display: inline-block;
  list-style: none;
  line-height: 0;
  padding: 5px;
  margin-top: 0;
  
  background-color: #eee;

  border-radius: 100px;
}

#lang li {
  display: inline-block;
  padding: 0;
  margin: 0 5px;
  width: 20px;
  height: 20px;
  background-color: #eee;
  border: 2px solid #fff;
  border-radius: 12px;
  background-size: cover;
  cursor: pointer;
}

#lang .selected {
  border-color: #037;
}

#lang li:hover {
  border-color: #ddd;
}

#lang .fr {
  background-image: url(../img/lang_fr.svg);
}
#lang .en {
  background-image: url(../img/lang_en.svg);
}
#lang .es {
  background-image: url(../img/lang_es.svg);
}
#lang .de {
  background-image: url(../img/lang_de.svg);
}
#lang .it {
  background-image: url(../img/lang_it.svg);
}

